
html {


	font-family: 'Russo One', sans-serif;
	background: rgba(0,0,0,0.50) url("dining.jpg") no-repeat center center fixed;
	-webkit-animation: fadein 2s;
  	background-size: 100vw 100vh;
}


.overlay {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 40px;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	-webkit-animation: fadein 0.25s;
	  background-color: rgba(0, 0, 0, 0.50);

}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('dining.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.50);
  filter: blur(5px);
  display: block;
  z-index: -1;
  -webkit-animation: fadein 2s;

}


.hidden {

	display: none;
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}


.search-results-item {

	margin: auto;
}

.search-form {
	
	margin-left: 16px;
	padding-bottom: 10px;



}

.nutrient-details, .search-results {

	list-style-type: none;
	box-sizing: border-box;
	padding: 40px;
	margin: auto;
	text-align: center;
	max-width: 85%;
}

.search-results {
	cursor: pointer;
}


.search-results-item, .nutrient-item {
	padding-bottom: 20px;
	margin: auto;
	color: white; 

}

.nutrient-item { 
	color: white;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;	
	display: block;

}
.search-results-item {
	cursor: pointer;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;	
	display: block;
}

::-webkit-input-placeholder {
	color: #D4D3D3;
}

.logo {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	padding-left: 15px;
	font-weight: bold;
	color: #4FFBEF;
	font-size: 28px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);}

.logo-subtitle {
	display: inline-block;
	font-family: 'Roboto', sans-serif;	
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	padding-left: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	color: white;
	font-size: 15px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);}


.home-link {
	text-decoration: none;
	color: #48CF85;
}

.search-text {
	
	padding-left: 8px;
	font-size: 20px;
	margin-right: 5px;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;	
	width: 200px;
}

.search-text:focus {
	outline: none;
}

nav {
	width: 150px;
	padding-right: ;
}

.search-button {

	font-size: 20px;
	border-radius: 4px;
	color: white;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	background-color: #48CF85;
	width: 76px;
	transition: all .1s linear;
	box-shadow: 0 .4px 0 black;
	box-sizing: border-box;
	/*padding-bottom: 10px;*/
	cursor: pointer;
	font-family: 'Roboto', sans-serif;	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);

}

.search-button:active {

	box-shadow: 0 .4px 0 black;
	transform: translateY(1px);
	font-family: 'Roboto', sans-serif;	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);

}

.search-button:focus {

	outline: none;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}	

.back-button {
	font-size: 20px;
	border-radius: 4px;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	background-color: #48CF85;
	font-family: 'Russo One', sans-serif;
	transition: all .1s linear;
	box-shadow: 0 .4px 0 black;
	box-sizing: border-box;
	margin: 30px auto 0;
	display: block;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;	
}


.back-button:active {

	box-shadow: 0 .4px 0 black;
	transform: translateY(1px);
	font-family: 'Roboto', sans-serif;	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);

}

.back-button:focus {
	outline: none;
	font-family: 'Roboto', sans-serif;	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);

}

.food-name-title {
	font-family: 'Russo One', sans-serif;
	padding: 20px;
	margin: auto;
	text-align: center;
	max-width: 90%;
	font-size: 48px;
	color: #48CF85; 
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	font-weight: bold;
}

h1 {
	font-size: 92px;
	color: #4898CF; 
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);	
	margin: 40px;
}

h2 {

	font-size: 42px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);}

form {
	padding-top: 12px;
	text-align: center;
}

h3 {

	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);	text-align: center;
	
	font-weight: bold;

}


